---
import { GiTechnoHeart } from "react-icons/gi";

import { getImage } from "astro:assets"
import OxxTopic from "./OxxTopic.astro"
import { OXXAPICONSOLE } from "./OXXAPICONSOLE"

import FrontEnd from '../../../assets/tech_stack/front.jpg'
import BackEnd from '../../../assets/tech_stack/backend.jpg'
import Dados from '../../../assets/tech_stack/dados.jpg'

const opt_front = await getImage({src: FrontEnd})
const opt_back = await getImage({src: BackEnd})
const opt_dados = await getImage({src: Dados})

// const navigatorName = navigator.userAgent
---

<div class="flex flex-col justify-center w-full min-h-screen h-max mt-20">

    <header class="px-20 space-y-5 my-5 max-lg:px-5">
        <h1 class="text-6xl max-sm:text-5xl flex items-center space-x-5">
            <GiTechnoHeart className="fill-rose-900" />
            <p class="bg-gradient-to-r from-rose-500 to-indigo-500 bg-clip-text text-transparent">
                Full Stack
            </p>
        </h1>

        <p class="w-1/2 max-lg:w-full">
            Fullstack é o desenvolvedor que cria e gerencia tanto o visual quanto os processos internos de sites e aplicativos, garantindo o funcionamento completo.        </p>
    </header>

    <section class="grid lg:grid-cols-3 w-full">
        <OxxTopic title="Front End" bg={opt_front.src}>
            <p class="h-full">
                👓 O front-end é a camada da aplicação que o usuário vê e interage, responsável por exibir conteúdo de forma atraente e responsiva. Utiliza linguagens e técnicas de desenvolvimento web para criar interfaces intuitivas e acessíveis, melhorando a experiência do usuário.
            </p>

            <a href="/projetos" class="bg-animate text-center w-full p-3 bg-gradient-to-r from-teal-800 via-sky-500 to-rose-800 self-end">
                Ver Interfaces
            </a>
        </OxxTopic>

        <OxxTopic title="Back End" bg={opt_back.src}>
            <p>
                ⚡ Nos bastidores, onde as regras de negócio são gerenciadas e a comunicação com o banco de dados é realizada, utilizamos APIs de alta performance para garantir a máxima eficiência e velocidade de processamento.
            </p>

            <OXXAPICONSOLE client:load />
        </OxxTopic>

        <OxxTopic title="Dados" bg={opt_dados.src}>
            <p>
                📚 A camada de dados é responsável por armazenar, organizar e gerenciar as informações utilizadas pela aplicação, garantindo a integridade e a segurança dos dados. Ela suporta operações de consulta, atualização e análise, fornecendo informações precisas e em tempo real para o front-end e back-end.
            </p>
        </OxxTopic>
    </section>

</div>