---
import OxxMarketplaceShowcase from "./sub/OxxMarketplaceShowcase.astro"
---

<section class="w-full mt-40 min-h-screen h-max">
    <header class="w-full space-y-5 px-20 max-lg:px-5">
        <div class="flex items-center w-full justify-center">
            <span class="bg-animate text-7xl font-extrabold absolute mx-auto py-4 flex border w-fit bg-gradient-to-r blur-xl from-pink-400 via-rose-500 to-indigo-600 bg-clip-text box-content text-transparent text-center select-none
            max-lg:text-2xl
            ">
                -- Interfaces de Usuário Exepcionais --
            </span>
            <h1 class="bg-animate w-full text-7xl text-center text-transparent bg-gradient-to-r from-pink-400 via-rose-500 to-indigo-600 bg-clip-text inline-block
                max-lg:text-4xl
            ">
                Interfaces de Usuário Exepcionais
            </h1>
        </div>
    
        <h3 class="text-center text-xl max-lg:text-sm">
            Descubra as melhores interfaces desenvolvidas para proporcionar uma navegação intuitiva e agradável, sempre com foco na experiência do usuário e na inovação visual.
        </h3>
    </header>


    <OxxMarketplaceShowcase />
</section>