---
const { article_title } = Astro.props
---

<header class={`sm:px-10 space-y-2 pb-5 pt-20 flex flex-col justify-center items-center w-full first:stroke-rose-600`}>
    <h3 class="animate-bg bg-gradient-to-br text-base font-bold from-rose-500 to-indigo-500 bg-clip-text text-transparent select-none"> { article_title } </h3>

    <h1 class="text-center text-2xl px-10 xl:text-5xl lg:text-4xl md:text-3xl select-none">
        <slot />
    </h1>
</header>