---
import { getImage } from "astro:assets";
import HeaderPageTransition from "./HeaderPageTransition.astro";
import OxxDefaultNav from "./OxxDefaultNav";
import MobileOxxHeader from "./MobileOxxHeader";
import { MdOutlineSwipeUp } from "react-icons/md";

const { title } = Astro.props;

import main_bg from "../../../../src/assets/earth.jpg";
import fallback from "../../../../src/assets/banner_fallback.svg";

const opt_earth = await getImage({ src: main_bg });
const opt_fallback = await getImage({ src: fallback });
---

<header class="">
    <nav
        class="overflow-hidden fixed bottom-0 w-full h-20 max-h-20 z-50 backdrop-blur-xl sm:backdrop-blur-md shadow-lg"
    >
        <!-- border animation -->
        <div class="w-full h-px overflow-hidden bg-transparency relative">
            <div
                class="border-animation blur-2xl absolute h-20 w-full rounded-full bg-gradient-to-r from-rose-500 to-indigo-400 backdrop-blur-lg"
            >
            </div>
        </div>

        <div class="relative flex items-center justify-center h-full w-full p-3">
            <OxxDefaultNav client:load />

            <MobileOxxHeader client:load />
        </div>
    </nav>

    <header
        style={`background: url('${opt_fallback.src}') center/cover no-repeat, url('${opt_earth.src}') center/cover no-repeat`}
        class="oxx-index-header flex items-baseline max-sm:grid"
    >
        {
            title != "index" && title != "termos" && (
                <h1 class="text-7xl px-10 pb-24 pt-40 font-extralight text-rose-100 select-none">
                    {title}
                </h1>
            )
        }

        <slot />

        <HeaderPageTransition>
            {
                title === "index" && (
                    <a class="" href="#quem-sou">
                        <MdOutlineSwipeUp className="w-8 h-8 animate-bounce fill-rose-100" />
                    </a>
                )
            }
        </HeaderPageTransition>
    </header>
</header>
<style>
    /* * Hi Dev! :D */
    .border-animation {
        animation: animate-cross infinite alternate-reverse 5s;
    }

    @keyframes animate-cross {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(100%);
        }
    }
</style>
