---
import { GrTechnology } from "react-icons/gr";
import ArticleHeader from "../../base/ArticleHeader.astro";

import {TechForYou} from "../sub/TechForYou"

---

<section class="relative w-full pt-24">
    <ArticleHeader article_title="Tecnologias Para Você!">
        <GrTechnology className='stroke-rose-600' />
    </ArticleHeader>

    <div class="px-10 py-10 sm:px-24 sm:py-20 relative h-max overflow-hidden">
        <TechForYou client:load />
    </div>

</section>

<style>
    #main-tech div {
        padding: 3rem;
        border: 1px solid #e11d48;
    }
</style>