---
import { GrTechnology } from "react-icons/gr";
import ArticleHeader from "../../base/ArticleHeader.astro";
import { TechForYou } from "../sub/TechForYou";
---

<div id="TechForYou"></div>

<ArticleHeader article_title="Tecnologias Para Você">
    Principais Modelos de WebApps
</ArticleHeader>

<section class="relative w-full h-max">
    <h2
        class="w-1/2 capitalize mx-auto text-xs sm:text-base text-center max-lg:w-full z-[100]"
    >
        Serviços de ponta em desenvolvimento web e mobile, alinhados às suas
        necessidades
    </h2>

    <div class="px-3 sm:px-24 sm:py-20 overflow-hidden relative">
        <TechForYou client:load />
    </div>
</section>

<style>
    #main-tech div {
        padding: 3rem;
        border: 1px solid #e11d48;
    }
</style>
