---
import { GrTechnology } from "react-icons/gr";
import ArticleHeader from "../../base/ArticleHeader.astro";
import { TechForYou } from "../sub/TechForYou";
---

<ArticleHeader article_title="Tecnologias Para Você">
    Principais Modelos de WebApps
</ArticleHeader>

<section class="relative w-full h-max">
    <h2 class="w-1/2 mx-auto text-xs sm:text-base text-center max-lg:w-full z-[100]">
        Soluções Web Sob Medida para Impulsionar Seu Negócio e Simplificar o Dia
        a Dia
    </h2>

    <div class="px-3 sm:px-24 sm:py-20 overflow-hidden relative">
        <TechForYou client:load />
    </div>
</section>

<style>
    #main-tech div {
        padding: 3rem;
        border: 1px solid #e11d48;
    }
</style>
