---
import { GrTechnology } from "react-icons/gr";
import ArticleHeader from "../../base/ArticleHeader.astro";
import { TechForYou } from "../sub/TechForYou";
---

<ArticleHeader article_title="Tecnologias Para Você">
    Principais Modelos de Sites
</ArticleHeader>

<section class="relative w-full min-h-screen">
    
    <div
    class="px-10  sm:px-24 sm:py-20 overflow-hidden"
    >
        <TechForYou client:load />
    </div>

</section>

<style>
    #main-tech div {
        padding: 3rem;
        border: 1px solid #e11d48;
    }
</style>
