---
import OxxHeader from "../components/ui/base/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/ui/home/articles/QuemSou.astro";
import OxxAlvsHeader from "@/components/ui/home/articles/OxxAlvsHeader.astro";
import FullStackArticle from "@/components/ui/home/articles/FullStackArticle.astro";
import MainTech from "@/components/ui/home/articles/TechForYouSection.astro";
import { TiDocumentText } from "react-icons/ti";
import OxxLogo from "@/assets/icons/icon_oxx.svg";
import { GiAtom } from "react-icons/gi";
import { MdKeyboardDoubleArrowRight } from "react-icons/md";

import OxxIcon from "@/assets/icons/icon_oxx.svg";

const OxxIconSrc = OxxIcon.src;

export const prefetch = true;
---

<Layout title="Alvaro Alves - OXX - Digital Solutions">
	<PageProvider>
		<OxxHeader title="index">
			<!-- <OxxAlvsHeader /> -->
			<div
				class="relative flex items-center w-full h-full pb-24 sm:min-h-[45rem] overflow-hidden"
			>
				<img
					class="animate-tilt absolute -top-52 -right-24 sm:-right-[40rem]"
					src={OxxLogo.src}
					alt=""
				/>
				<!-- Wrapper dos textos -->
				<div
					class="h-full flex flex-col p-5 sm:px-20 text-left overflow-visible space-y-10 pt-24 sm:pb-24"
				>
					<header class="z-10">
						<h1
							class="oxx-title text-4xl sm:text-6xl z-10 capitalize font-black bg-gradient-to-br from-rose-600 to-red-700 bg-clip-text text-transparent pb-3"
						>
							Soluções Completas para o seu Negócio
						</h1>

						<h2 class="z-10 text-xl sm:text-3xl">
							Projetos digitais sob medida, com inovação e
							excelência técnica
						</h2>
					</header>

					<footer class="mt-10">
						<nav
							class="space-y-5 sm:space-y-0 sm:flex gap-10 justify-start"
						>
							<a
								href="#quem-sou"
								class="flex w-max border border-rose-900 items-center bg-gradient-to-r from-rose-950/40 to-indigo-950/40 space-x-2 h-[5rem] rounded p-3 backdrop-blur-xl transition group overflow-hidden"
							>
								<p>Sobre Mim</p>
								<TiDocumentText className="absolute text-8xl scale-150 fill-rose-500/20" />
							</a>

							<a
								href="#TechForYou"
								class="flex flex-col sm:flex-row items-start justify-between w-full sm:w-[30rem] border border-red-500 sm:items-center bg-gradient-to-r from-red-900 to-rose-900 sm:space-x-2 h-[5rem] rounded p-3 backdrop-blur-xl transition duration-400 group oxx-mask hover:brightness-110"
							>
								<p class="text-xl font-semibold">Principais Soluções</p>
								<p class="text-xs">Clique e explore </p>
								<div
									class="relative ml-2 w-5 flex items-center justify-center"
								>
									<!-- <GiAtom
										className="absolute h-7 w-7 group-hover:opacity-0 opacity-100 transition"
									/>
									<MdKeyboardDoubleArrowRight
										className="absolute group-hover:opacity-100 opacity-0 transition"
									/> -->
								</div>
							</a>
						</nav>
					</footer>
				</div>
			</div>
		</OxxHeader>
		<section
			class="z-20 flex flex-col items-center w-full mx-auto min-h-screen pt-20"
		>
			<div
				class="flex items-center lg:px-10 max-lg:px-10 max-sm:px-3 min-h-screen"
			>
				<QuemSou />
			</div>

			<!-- tech for you -->
			<MainTech />

			<FullStackArticle />
		</section>
	</PageProvider>
</Layout>

<style>
	a {
		background-size: 500%;
	}

	.oxx-mask {
		mask-image: linear-gradient(to bottom right, #850e0e, #860b2a),
			url("../assets/icons/icon_oxx.svg");
		mask-composite: subtract;
		mask-size: 208%;
		mask-position: left;
		mask-border-width: 1rem;
		mask-repeat: no-repeat;
		transition: 1s mask-size mask-position mask-composite;
	}
	.oxx-title {
		user-select: none;
		/* text-shadow: 0 0 1rem #e11d4773; */
	}

	.animate-tilt {
		animation: tilt 10s infinite ease-in-out;
		scale: 150%;
	}

	@media screen and (max-width: 798px) {
		.animate-tilt {
			scale: 250%;
		}
	}

	@keyframes tilt {
		from {
			transform: rotate(-10deg);
		}
		to {
			transform: rotate(10deg);
		}
	}
</style>
