---
import OxxHeader from "../components/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/QuemSou.astro";
import OxxAlvsHeader from "../components/OxxAlvsHeader.astro";
---

<Layout title="OXX - Digital Solution">
	<PageProvider>
		<OxxHeader title="index">
			<OxxAlvsHeader />
		</OxxHeader>

		<section
			class="z-20 flex flex-col items-center max-lg:p-5 w-full mx-auto h-screen px-10 pt-20 max-sm:px-10"
		>
			<QuemSou />

			<article class="min-h-screen"></article>
		</section>
	</PageProvider>
</Layout>
