---
import OxxHeader from "../components/ui/base/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/ui/home/QuemSou.astro";
import OxxAlvsHeader from "../components/ui/landing/OxxAlvsHeader.astro";
import TechStackSession from "@/components/ui/home/FullStackArticle.astro";
import InterfacesShowcase from "@/components/ui/home/InterfacesShowcase.astro";
---

<Layout title="Alvaro Alves - OXX - Digital Solutions">
	<PageProvider>
		<OxxHeader title="index">
			<OxxAlvsHeader />
		</OxxHeader>

		<section
			class="z-20 flex flex-col items-center w-full mx-auto min-h-screen pt-20"
		>
			<div class="flex items-center lg:px-10 max-lg:px-10 max-sm:px-3 min-h-screen">
				<QuemSou />
			</div>

			<InterfacesShowcase />
			
			<TechStackSession />
		</section>
	</PageProvider>
</Layout>
