---
import OxxHeader from "../components/ui/base/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/ui/home/articles/QuemSou.astro";
import OxxAlvsHeader from "../components/ui/landing/OxxAlvsHeader.astro";
import TechStackSession from "@/components/ui/home/articles/FullStackArticle.astro";
import MainTech from "@/components/ui/home/articles/MainTech.astro";

export const prefetch = true;
---

<Layout title="Alvaro Alves - OXX - Digital Solutions">
	<PageProvider>
		<OxxHeader title="index">
			<OxxAlvsHeader />
		</OxxHeader>

		<section
			class="z-20 flex flex-col items-center w-full mx-auto min-h-screen pt-20"
		>
			<div class="flex items-center lg:px-10 max-lg:px-10 max-sm:px-3 min-h-screen">
				<QuemSou />
			</div>

			<MainTech />
			
			<TechStackSession />
		</section>

		<div class="w-full flex flex-col items-center mb-20">
			<h1> Anuncie Aqui </h1>

			<script type="text/javascript">
				atOptions = {
					'key' : 'cfe082ad2b6651889193bddccff2e443',
					'format' : 'iframe',
					'height' : 250,
					'width' : 300,
					'params' : {}
				};
			</script>
			<script type="text/javascript" src="//www.topcreativeformat.com/cfe082ad2b6651889193bddccff2e443/invoke.js"></script>
		</div>
	</PageProvider>
</Layout>


<style>
	.oxx-index-header {
		/* background: url('/banner_fallback.svg') center no-repeat, url('/nasa_city.jpg') bottom no-repeat fixed; */
		animation: showcase 9s infinite ease-in-out alternate-reverse;
	}
	
	@keyframes showcase {
		from {
			background-position: bottom;
		}
		to {
			background-position: center;
		}
	}
</style>