---
import OxxHeader from "../components/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/QuemSou.astro";
import OxxAlvsHeader from "../components/OxxAlvsHeader.astro";
import TechStackSession from "@/components/ui/home/TechStackSession.astro";
---

<Layout title="Alvaro Alves - OXX - Digital Solutions">
	<PageProvider>
		<OxxHeader title="index">
			<OxxAlvsHeader />
		</OxxHeader>

		<section
			class="z-20 flex flex-col items-center w-full mx-auto min-h-screen pt-20"
		>
			<div class="lg:px-20">
				<QuemSou />
			</div>

			<TechStackSession />
			
			<article class="flex w-full space-y-10 flex-col min-h-screen mt-20 p-10 hidden">
				<h1 class="text-left text-2xl">Projetos Pessoais</h1>

				<div class="flex space-x-10">
					<img class="border rounded-xl w-[30rem] bg-center overflow-hidden rounded-t-full aspect-square object-cover" src="/" alt="">
	
					<div class="w-2/3 grid grid-cols-3 gap-10 group">
						
					</div>
				</div>
			</article>
		</section>
	</PageProvider>
</Layout>
