---
import OxxHeader from "../components/ui/base/OxxHeader.astro";
import Layout from "../layouts/Layout.astro";
import PageProvider from "../PageProvider.astro";
import QuemSou from "../components/ui/home/articles/QuemSou.astro";
import OxxAlvsHeader from "@/components/ui/home/articles/OxxAlvsHeader.astro";
import TechStackSession from "@/components/ui/home/articles/FullStackArticle.astro";
import MainTech from "@/components/ui/home/articles/TechForYouSection.astro";

export const prefetch = true;
---

<Layout title="Alvaro Alves - OXX - Digital Solutions">
	<PageProvider>
		<OxxHeader title="index">
			<OxxAlvsHeader />
		</OxxHeader>

		<section
			class="z-20 flex flex-col items-center w-full mx-auto min-h-screen pt-20"
		>
			<div class="flex items-center lg:px-10 max-lg:px-10 max-sm:px-3 min-h-screen">
				<QuemSou />
			</div>

			<!-- tech for you -->
			<MainTech />
			
			<TechStackSession />
		</section>

	</PageProvider>
</Layout>


<style>
	.oxx-index-header {
		/* background: url('/banner_fallback.svg') center no-repeat, url('/nasa_city.jpg') bottom no-repeat fixed; */
		animation: showcase 9s infinite ease-in-out alternate-reverse;
	}
	
	@keyframes showcase {
		from {
			background-position: bottom;
		}
		to {
			background-position: center;
		}
	}
</style>