---
import { BackButton } from "../components/ui/BackButton";
import PageProvider from "../PageProvider.astro";
import OxxHeader from "../components/OxxHeader.astro";

import OxxProjects from "../components/ui/projects/OxxProjects";
import { oxx_project } from "../data/oxx_projects";

// const oxx_response = await fetch("https://oxx-three.vercel.app/oxx/projects/", {
//     headers: {
//         "api-key": import.meta.env.OXX_KEY,
//     },
// });

// const oxx_project = await oxx_response.json();

// console.log(oxx_project);
---

<PageProvider title="Projetos OXX">
    <OxxHeader title="Projetos" />

    <section
        class="relative grid space-y-10 justify-center min-w-screen p-12 pt-0"
    >
        <nav class="max-w-96 w-96 mx-auto">
            <BackButton />
        </nav>

        <div class="grid 2xl:grid-cols-2 gap-10 max-sm:gap-5 lg:py-10 lg:px-20">
            {
                oxx_project && (
                    <OxxProjects raw_projects={oxx_project} client:load />
                )
            }
        </div>
    </section>
</PageProvider>
<style>
    .project-desc::-webkit-scrollbar {
        display: none;
    }
    .tech-stack-badg {
        font-size: 0.8rem;
        border-radius: 10px;
        border: 1px solid white;
        width: auto;
        padding: 0.25rem;
    }
</style>
