---
import BackButton from "../components/ui/BackButton.astro";
import PageProvider from "../PageProvider.astro";
import OxxProjects from "../components/ui/projects/OxxProjects"
// import { oxx_project } from "../data/oxx_projects";

const oxx_response = await fetch("https://oxx-three.vercel.app/oxx/projects/", {
    headers: {
        "api-key": "xUp2jAz5hQZM#wCsKb",
    },
});

const oxx_project = await oxx_response.json();

// console.log(oxx_project);
---

<PageProvider title="Projetos OXX">
    <section class="grid space-y-10 justify-center min-w-screen">
        <header class="flex items-baseline space-x- border-b border-b-white pb-2">
            <h1 class="text-4xl font-thin mt-2"> Projetos </h1>
    
            <!-- <div class="w-full h-px bg-white"></div> -->
        </header>
    
        <nav class="w-1/2 mx-auto">
            <BackButton />
        </nav>
    
        <div
            class="grid 2xl:grid-cols-2 sm:gap-20 max-sm:gap-10 py-10 px-20 "
        >
            <OxxProjects projects={oxx_project} client:load />
        </div>
    </section>
</PageProvider>
<style>
    .project-desc::-webkit-scrollbar {
        display: none;
    }
    .tech-stack-badg {
        font-size: 0.8rem;
        border-radius: 10px;
        border: 1px solid white;
        width: auto;
        padding: 0.25rem;
    }
</style>
