---
import HeaderPageTransition from "@/components/ui/base/HeaderPageTransition.astro";
import OxxArticle from "@/components/OxxArticle.astro";
import PageProvider from "../PageProvider.astro";
import OxxHeader from "../components/ui/base/OxxHeader.astro";
import { BackButton } from "../components/ui/ui-assets/BackButton";

import FullStackArticle from "@/components/ui/home/FullStackArticle.astro";
---

<PageProvider title="Sobre | OXX Soluções Digitais">
    <OxxHeader title="Sobre" />

    <section
        class="w-full max-lg:w-full max-lg:px-0"
    >
        <FullStackArticle />
    </section>
</PageProvider>
