---
import PageProvider from "../PageProvider.astro";
import OxxHeader from "../components/ui/base/OxxHeader.astro";

import FullStackArticle from "@/components/ui/home/articles/FullStackArticle.astro";
---

<PageProvider title="Sobre | OXX Soluções Digitais">
    <OxxHeader title="Sobre" />

    <section
        class="w-full max-lg:w-full max-lg:px-0"
    >
        <FullStackArticle />
    </section>
</PageProvider>
