---
import PageProvider from "../PageProvider.astro";
import OxxHeader from "../components/ui/base/OxxHeader.astro";

import FullStackArticle from "@/components/ui/home/articles/FullStackArticle.astro";
---

<PageProvider title="Sobre | OXX Soluções Digitais">
    <OxxHeader title="Sobre" />

    <section
        class="w-full max-lg:w-full max-lg:px-0"
    >
        <div class="mx-auto text-center">
            <h1 class="text-xl">informações básicas</h1>

            <p>Razão Social</p>
            <p>51.998.283 ALVARO ALVES SILVA DO NASCIMENTO</p>

            <br />


        </div>
        
        <FullStackArticle />
    </section>
</PageProvider>
