---
import Layout from "./layouts/Layout.astro";
const { title } = Astro.props;
---

<!-- Importar Page Provider e passar um children para o conteudo da pagina -->
<Layout title={title}>
    <main class="w-full min-h-screen text-white">
        <slot />
    </main>
</Layout>
