---
import { Suspense } from "astro-suspense/components";
import Layout from "./layouts/Layout.astro";
const { title } = Astro.props;
---

<!-- Importar Page Provider e passar um children para o conteudo da pagina -->
<Layout title={title}>
    <main class="w-full max-w-screen min-h-screen text-white scroll-smooth">
        <slot />
    </main>
</Layout>
