---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "../global.css";

const config = {
	bg_color: "#13151a",
	bg_color_primary: "#140309",
	rose: "#881337",
};

---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Quicksand", sans-serif;
		scroll-behavior: smooth;
		background: #0c0812;
		overflow-x: hidden;
	}
	html::-webkit-scrollbar {
		display: none;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.bg-animate {
		background-size: 500%;
		background-position: center;
		transition: all;
		transition-duration: 400ms;
		animation: animate-bg 10s infinite ease-in-out alternate-reverse;
	}
	.bg-animate:hover {
		box-shadow: 0 0 2rem #b91c1c50;
		background-size: 1000%;
	}

	.oxx-index-header {
		/* background: url('/banner_fallback.svg') center no-repeat, url('/nasa_city.jpg') bottom no-repeat fixed; */
		animation: showcase 9s infinite ease-in-out alternate-reverse;
	}
	/* .header-content {
        background: url('/portfolio_banner.svg') center/cover no-repeat;
		background-size: contain;
    } */

	@keyframes animate-bg {
		from {
			background-position: left;
		}
		to {
			background-position: right;
		}
	}

	@keyframes showcase {
		from {
			background-position: bottom;
		}
		to {
			background-position: center;
		}
	}
</style>
