---
const { Label, Url, Right, FullW } = Astro.props;
---

<a
    href={Label === 'Voltar' ? 'javascript:window.history.back()' : Url}
    class={`flex justify-center border border-transparent group rounded cursor-pointer transition hover:border-rose-900 hover:bg-rose-900/10 ${FullW ? 'w-full sticky top-0' : 'w-max'}`}
>
    <span class={`flex items-center p-2 px-5 space-x-3 rounded ${FullW && 'underline'}`}>
        {
            Right ? (
                <>
                    {Label && <div>{Label}</div>}
                    <div>
                        {/* icon */}
                        <slot />
                    </div>
                </>
            ) : (
                <>
                    <div>
                        {/* icon */}
                        <slot />
                    </div>
                    {Label && <div>{Label}</div>}
                </>
            )
        }
    </span>
</a>
